* {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

em,
i,
address {
    font-style: normal;
}

body {
    line-height: 1;
}

.header {
    border-top: 3px solid tomato;
    border-bottom: 1px solid tomato;
}

.header h1 {
    line-height: 100px;
    text-align: center;
}

.header .gnb {
    border-top: 1px solid #ddd;
}

.header .gnb a {
    display: block;
}

.header .gnb>ul {
    width: 1200px;
    margin: 0 auto;

    display: flex;
    text-align: center;
}

.header .gnb>ul>li {
    position: relative;
    flex: 1;
    line-height: 50px;
    border-left: 1px solid #ddd;
    width: 100;
}

.header .gnb>ul>li:last-child {
    border-right: 1px solid #ddd;
}

.header .gnb>ul>li ul {
    position: absolute;
    top: 100px;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 999;

    opacity: 0;
    transition: 0.2s;

    visibility: hidden;
}

.header .gnb>ul>li:hover ul {
    position: absolute;
    top: 50px;
    border-top: 1px solid #ddd;

    opacity: 1;

    visibility: visible;
}

.header .gnb>ul>li ul>li~li {
    border-top: 1px solid #ddd;
}

main {
    position: static;
    background: #333;
    height: 500px;
}

main.inner.box {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
    flex: 1;
    background: #ff0;
}

.footer {
    text-align: center;
    padding: 50px 0;
}