body {
    color: #444444;
}

.inner,
.container {
    width: 1200px;
    margin: 0 auto;
}

.tit {
    line-height: 1;
}

.flex {
    display: flex;
    flex-direction: row;
}

.sec {
    padding: 100px 0;
}

.header {
    line-height: 100px;
}

.header h1 img {
    font-size: 0;
    max-width: 50%;
}

.header .inner {
    justify-content: space-between;
}

.header .gnb>ul {
    gap: 60px
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    width: 1px;
    height: 12px;
    background: #ddd;
    transform: translate(0, -50%);
}

.mainVisual {
    position: relative;
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    background: url(../img/main01.jpg) no-repeat center center/cover;
}

.mainVisual .inner {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.mainVisual .inner h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    /* text-indent: -4px; */
    margin: 0 0 35px 0;
}

.mainVisual .inner p {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    line-height: 25px;
}

.mainBanner .txt {
    text-align: center;
}

.mainBanner .txt h2 {
    font-size: 30px;
    font-weight: 300;
    margin: 100px 0 20px 0;
}

.mainBanner .txt p {
    font-size: 15px;
    line-height: 20px;
}

.mainBanner .image {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    width: 1200px;
    padding: 50px 0;
}

.mainBanner .banner {
    width: 1200px;
    margin: 0 auto;
}